<!DOCTYPE html>
<html>
  <head>
    <title>CompanyWebsite</title>
    <%= csrf_meta_tags %>
    <!--this fixes the bootstrap navbar scaling problem-->
    <meta name="viewport" content="width=device-width, initial scale=1"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-new-age/css/new-age.min.css" rel="stylesheet">

  </head>

  <body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                <%= link_to(image_tag("logo4.png", :class => "logo navbar-brand page-scroll"), root_path ) %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "WORK", static_pages_work_path  %>
                    </li>
                    <li>
                         <%= link_to "SERVICES", static_pages_services_path  %>
                    </li>
                    <li>
                        <%= link_to "CONTACT", static_pages_contact_path  %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
